* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  padding: 0 40px;
  @media (max-width: 425px) {
    max-width: 425px;
  }
  @media (max-width: 375px) {
    max-width: 375px;
  }
  @media (max-width: 320px) {
    max-width: 320px;
    padding: 0 20px;
  }
}